.ac_results {
	padding: 0px;
	border: 1px solid #ccc;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
}

.ac_loading {
	background: white url('images/loading.gif') right center no-repeat;
}

.ac_odd {
	background-color: #f7f7f7;
}

.ac_over {
	background-color: #1964af;
	color: white;
}

.auto-search-box{
	float: right;
	margin-right: 3px;
	width: auto;
}
.auto-search-type{
	text-decoration: none;
	padding: 3px 12px 3px 3px;
	border:1px solid transparent;
	position:relative;
	z-index:20;
	color:#0B5DC9;
}

.auto-search-type b{
	background: url("images/spinner_arrows.png") no-repeat;
	background-position:-15px center;
	height: 14px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 2px;
	width: 14px;
}

.auto-search-type-hover{
	border-color: #95B8E7;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	background: linear-gradient(to bottom, #DDECFE 10px, #FFFFFF 100%) repeat-x scroll 0 0 transparent;
}

.auto-search-options{
	border:1px solid #95B8E7;
	background-color:#FFFFFF;
	padding:3px;
}
.auto-search-options ul{
	padding:0;
	margin:0;
}
.auto-search-options li{
	list-style:none;
	line-height:20px;
	cursor:pointer;
}

.auto-search-options li:hover{
	background-color: #EAF2FF;
}
