.datagrid{
  padding:0px;
}
.datagrid .panel-body {
  overflow: hidden;
  position: relative;
}
.datagrid-view {
  position: relative;
  overflow: hidden;
  border-left:1px #e5e5e5 solid;
  border-right:1px #e5e5e5 solid;
}
.datagrid-view1,
.datagrid-view2 {
  position: absolute;
  overflow: hidden;
  top: 0;
}
.datagrid-view1 {
  left: 0;
}
.datagrid-view2 {
  right: 0;
}
.datagrid-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  display: none;
}
.datagrid-mask-msg {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 12px 5px 10px 30px;
  width: auto;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  display: none;
}
.datagrid-sort-icon {
  padding: 0;
}
.datagrid-title {
	float: left;
}
.nullable-div {
	color:red;
	width:8px;
	height:8px;
	float:left;
	margin: -4px 0 3px 3px;
}
.edit-nullalbe-div {
	float:right;
	width:8px;
}
.edit-div {
	width:8px;
	height:10px;
	float:left;
	margin:0 0 0 3px;
}
.edit-icon {
	background:url('../icons/mini_edit.png') no-repeat center center;
}
.datagrid-toolbar {
  height: auto;
  padding: 1px 15px 1px 2px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  text-align:right;
}
.datagrid-btn-separator {
  float: left;
  height: 18px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #fff;
  margin: 2px 1px;
}
.datagrid .datagrid-pager {
  margin: 0;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}
.datagrid .datagrid-pager-top {
  border-width: 0 0 1px 0;
}
.datagrid-header {
  overflow: hidden;
  cursor: default;
  border-width: 0 0 1px 0;
  border-style: solid;
}
.datagrid-header .floatTd {
    position: absolute;
    border: 3px solid #D4E8FF;
    line-height: 24px;
    opacity: 0.3;
    filter: alpha(opacity=30);
    background: #3078CC;
}
.datagrid-header-inner {
  float: left;
  width: 10000px;
}
.datagrid-header-row {
  height: 29px;
}
.datagrid-row {
  height: 27px;
}
.datagrid-header-row div.leftInsert {
    border-left: 4px solid blue;
    padding-left: 0px;
}
.datagrid-header-row div.rightInsert {
    border-right: 4px solid blue;
    padding-right: 0px;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
  border-width: 0 1px 1px 0;
  border-style: solid;
  margin: 0;
  padding: 0;
}
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {	
  margin: 0;
  padding: 0 4px;
  white-space:nowrap;  
  word-wrap: normal;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  font-weight: normal;
  font-size: 12px;
}
.datagrid-cell-group {
  text-align: center;
}
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  width: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.datagrid-body {
  margin: 0;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.datagrid-view1 .datagrid-body-inner {
  padding-bottom: 20px;
}
.datagrid-view1 .datagrid-body {
  overflow: hidden;
}
.datagrid-footer {
  overflow: hidden;
}
.datagrid-footer-inner {
  border-width: 1px 0 0 0;
  border-style: solid;
  width: 10000px;
  float: left;
}
.datagrid-row-editing .datagrid-cell {
  height: auto;
}
.datagrid-header-check,
.datagrid-cell-check {
  padding: 0;
  width: 27px;
  height: 18px;
  font-size: 1px;
  text-align: center;
  overflow: hidden;
}
.datagrid-header-check input,
.datagrid-cell-check input {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 18px;
}
.datagrid-resize-proxy {
  position: absolute;
  width: 1px;
  height: 10000px;
  top: 0;
  cursor: e-resize;
  display: none;
}
.datagrid-body .datagrid-editable {
  margin: 0;
  padding: 0;
}
.datagrid-body .datagrid-editable table {
  width: 100%;
  height: 100%;
}
.datagrid-body .datagrid-editable td {
  border: 0;
  margin: 0;
  padding: 0;
}
.datagrid-body .datagrid-editable .datagrid-editable-input {
  margin: 0;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
}
.datagrid-sort-asc {
    background: url('images/drop_up.png') no-repeat 95%;
}
.datagrid-sort-desc {
    background: url('images/drop_down.png') no-repeat 95%;
}
.datagrid-row-collapse {
  background: url('images/datagrid_icons.png') no-repeat -48px center;
}
.datagrid-row-expand {
  background: url('images/datagrid_icons.png') no-repeat -32px center;
}
.datagrid-mask-msg {
  background: #ffffff url('images/loading.gif') no-repeat scroll 5px center;
}
.datagrid-header,
.datagrid-td-rownumber {
  background-color: #e9f4ff;
  background: -webkit-linear-gradient(top,#f2f8ff 0,#e1f0fe 100%);
  background: -moz-linear-gradient(top,#f2f8ff 0,#e1f0fe 100%);
  background: -o-linear-gradient(top,#f2f8ff 0,#e1f0fe 100%);
  background: linear-gradient(to bottom,#f2f8ff 0,#e1f0fe 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f8ff,endColorstr=#e1f0fe,GradientType=0);
}
.datagrid-cell-rownumber {
  color: #000000;
}
.datagrid-resize-proxy {
  background: #aac5e7;
}
.datagrid-mask {
  background: #ccc;
}
.datagrid-mask-msg {
  border-color: #95B8E7;
}

.datagrid-header,
.datagrid-toolbar,
.datagrid-pager/*,
.datagrid-footer-inner*/ {
  border-color: #b4d3f5;
}
.datagrid-footer-inner {
  border-color: #e5e5e5;
}
.datagrid-toolbar,
.datagrid-pager {
  background: #f9f9f9;
  border-color:#e5e5e5;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
  border-color: #deeffd;
}
.datagrid-htable,
.datagrid-btable,
.datagrid-ftable {
  color: #000000;
}
.datagrid-row-alt {
  background: #eef5fc;
}
.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
  background: #c7e5ff;
  color: #000000;
  cursor: default;
}
.datagrid-row-selected {
  background: #FBEC88;
  color: #000000;
}

.datagrid-row-del td{
  color:#888888;
  background : #e0e0e0 url(images/row_del.gif) repeat-x center center;
}

.datagrid-body .datagrid-editable .datagrid-editable-input {
  border-color: #95B8E7;
}

.datagrid-queryForm input.validatebox-text{
	 width:120px;
}
.datagrid-header-row div.datagrid-cell{
  font-weight:bolder;
}

div.datagrid-cell a{
  text-decoration: none;
  color:#59a8f8;
}
.datagrid-row-detail{
	/*border:1px solid #83b3e7;*/
	border-bottom:0px;
	background-color:#c9e7ff;
    height: 80px;
    overflow-y:scroll;
}

.datagrid-row-detail td{
	line-height:16px;
}

.datagrid-row-detail .datagrid-detail-label{
	white-space: nowrap;
	border:0px;
	text-align:right;
}

.datagrid-row-detail .datagrid-detail-value{
	border:1px solid #b4d6f5;
	background-color:#edf5ff;
	height: 20px;
}
.datagrid-query-label{
	padding-left:15px;
	text-align:right;
}
.datagrid-queryForm{
	/*border:1px #ffe0b8 solid; */
	background-color:#fffef4; 
}
.datagrid-query{
	background-color: #edf5ff;
	height: 18px;
}
.datagrid-queryOpenBtn{
	cursor: pointer;
	width:16px;
	height:16px; 
	line-height:16px; 
	vertical-align:center; 
	margin:0px auto;
	background : url(images/layout_arrows.png) repeat-x -16px 0px;
}
.datagrid-queryHideBtn{
	cursor: pointer;
	width:16px;
	height:16px; 
	line-height:16px; 
	vertical-align:center; 
	margin:0px auto;
	background : url(images/layout_arrows.png) repeat-x -16px -16px;
}
