/*.fieldset, .fieldset.expanded{
	border:1px solid #aaa;   
}*/

.fieldset.collapsed{
	border:0;
	border-top:1px solid #aaa;
}

.fieldset legend{
	padding-left:13px;
	height:13px;
	font-weight:bold;
	cursor:pointer;
}

.fieldset legend, .fieldset.expanded legend{
	background: transparent url(images/expanded.gif) no-repeat center left;
}

.fieldset.collapsed legend{
	background: transparent url(images/collapsed.gif) no-repeat center left;
}
