@charset "utf-8";
/**
* UAS3.0 css trans common
* 创建者：彭权才
* 创建时间：2014-08-19
********************************* 维护记录 **************************
** 维护者：
** 维护时间：
*/

/* themes bottom */
.bort {
  border-bottom: 1px solid #DDF0FF;
}
/* themes font */
.c256BAE {
  color: #256BAE;
}

.cff6600 {
  color: #ff6600;
}

.bgfff8dc {
  background-color: #FFF8DC;
}

.bgfafdff {
  background-color: #FAFDFF;
}

.bglinear-hori {
  background: linear-gradient(to bottom, #CFE9FD 0px, #E9F6FE 60%) repeat-x scroll 0% 0% transparent;
}

.print-area-bg {
  background: url(images/print-area-bg.png) center repeat-x #fafafa;
}

.bgth {
  background: #E8F5FC;
}

.cd1d5d8 {
  color: #D1D5D8;
}
/* begin: themes icon css */
.theme-icons {
  float: left;
  width: 20px;
  height: 20px;
  background: url(images/trans-icon.png) no-repeat;
  overflow: hidden;
}

.t-icon-del {
  background-position: 0px 0px;
}

.t-icon-add {
  background-position: 0px -20px;
}

.t-icon-trArrow {
  background-position: 0 -40px;
}

.t-icon-back {
  background-position: -60px 0;
}
/* end: themes icon css */

/* begin: themes btn css */
.line {
  clear: both;
  margin: 0 16px;
  height: 1px;
  border-bottom: 1px dashed #DDF0FF;
  overflow: hidden;
}

.l-solid {
  clear: both;
  height: 1px;
  border-bottom: 1px solid #DDF0FF;
  overflow: hidden;
}

.btn-bottom {
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #256BAE;
  cursor: pointer;
  font-weight: bold;
  background: #F2F8FD;
  position: absolute;
  left: 0;
  bottom: 0;
}

  .btn-bottom:hover {
    color: #ff6600;
  }
/* end: themes btn css */

/* begin: web page themes css */
.loading {
  background-image: url(images/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

.delete-arrow {
  display: inline-block;
  width: 18px;
  height: 10px;
  background: url('images/icon-kjpc-close.png') no-repeat scroll center center transparent;
  cursor: pointer;
  opacity: 0.6;
  overflow: hidden;
}
/* status */
.status {
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.status-doing {
  background: url('images/loading.gif') no-repeat scroll center center transparent;
}

.status-succ {
  background: url('images/succ.png') no-repeat scroll center center transparent;
}

.status-error {
  background: url('images/error.png') no-repeat scroll center center transparent;
}

.status-wait {
  background: url('images/status-task-group.png') no-repeat scroll -76px -4px transparent;
}

.status-stop {
  background: url('images/stop.png') no-repeat scroll center center transparent;
}

.tr-expand, .tr-expanded {
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  width: 16px;
  height: 16px;
  background: url(images/icon-pack.png) no-repeat scroll -32px 0px transparent;
}

.tr-expanded {
  cursor: pointer;
  background-position: -48px 0px;
}

.fold-btn {
  float: left;
  margin-top: 4px;
  width: 21px;
  height: 21px;
  background: url('images/layout_arrows.png') no-repeat -21px 0px;
  cursor: pointer;
}

.fold-btn-close {
  background-position: -21px -21px;
}

.pack-header {
  padding-left: 10px;
  height: 32px;
  line-height: 32px;
  text-align: left;
  background-color: #DDF0FF;
  color: #207cbc;
  font-family: "微软雅黑";
}

.pack-header-hover {
  background: #DDF0FF;
}

.pack-header a {
  margin-right: 10px;
  text-decoration: none;
}

  .pack-header a:hover {
    color: #ff6600;
  }

a.pack-header-tab {
  float: left;
  margin: 2px 5px 0;
  padding: 0 16px;
  display: inline-block;
}

.pack-header .on {
  background: #fff;
  border-radius: 3px 3px 0 0;
}

.pack-body {
  position: relative;
  height: inherit;
}

.table-header, .wrapper-header {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

  .table-header td, .wrapper-header {
    text-align: center;
    color: #1A70C2;
    font-weight: normal;
    font-family: "微软雅黑";
    background: #DDF0FF;
  }

  .table-header td {
    border-left: 1px solid #E6F4FE;
    border-right: 1px solid #C6E4FA;
    border-bottom: 1px solid #E1F0FB;
  }

    .table-header td:last-child {
      border-right: none;
    }

.table-tdp4 td {
  padding: 4px 0;
}

.table-nowrap td {
  word-break: keep-all;
}

.table-body {
  background: #FFF;
}

  .table-body td {
    padding: 5px 0;
    border-bottom: 1px solid #F7F7F7;
  }

  .table-body tr:last-child td {
    border-bottom: none;
  }

  .table-body tr:nth-child(2n) {
    background: #F5FBFF;
  }

  .table-body .tr-hover td {
    background: #e3f9fd;
    color: #ff461f;
  }

  .table-body .tr-click td {
    background: #FFF8DC;
    color: #FF6600;
  }

.tr-click .theme-icons {
  position: relative;
  z-index: 3;
}

.tr-selected {
  width: inherit;
  height: 31px;
  border: 1px solid #ffa400;
  border-radius: 2px;
  background: none;
  position: absolute;
  top: 32px;
  left: -1px;
  z-index: 2;
}

.tr-selected-arrow {
  width: 4px;
  height: 8px;
  position: absolute;
  right: -5px;
  top: 12px;
  background: url(images/tr-selected-arrow.png) 100% center no-repeat;
}
/**横向表格样式 表格内部有边线 **/
.table-hori {
  border-spacing: 0px;
}

  .table-hori th {
    background: #E9F6FF;
    text-align: left;
    padding: 5px 0;
    color: #207cbc;
    border: 1px solid #D8EFFE;
  }

  .table-hori td {
    padding: 5px 0;
    border: 1px solid #D8EFFE;
    color: #000000;
  }

  .table-hori .eve-row {
    cursor: default;
    background: #FFFFFF;
  }

  .table-hori .odd-row {
    background: #F8FDFF;
    cursor: default;
  }
/* begin: web page themes css */

/* to review */
.bus-to-review {
  clear: both;
  border: 5px solid #DDF0FF;
  margin: 10px 14px 14px;
  padding: 8px 30px;
}

/* begin: left nav */
.left-menu-wrapper {
  line-height: 30px;
  text-align: center;
}

.left-menu-btn {
  line-height: 32px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to bottom, #1A6FC2 0px, #379DD6 100%) repeat-x scroll 0% 0% transparent;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}

.left-menu-list li {
  border-bottom: 1px dotted #DDF0FF;
}

.left-menu-list a {
  display: block;
  text-decoration: none;
  color: #333;
}

  .left-menu-list a:hover, .left-menu-list .on a {
    color: #ff6600;
    background: #DDF0FF;
  }
/* end: left nav */

/* begin: 飞行动画定义 */
.flip-mask {
  width: 100%;
  height: inherit;
  color: #ccc;
  font-size: 16px;
  background-color: White;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

  .flip-mask span {
    display: block;
    margin-top: 80px;
    text-align: center;
  }

.cur-layer-pos {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 35px;
  width: 35px;
  z-index: 2;
}

.flip-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  background: url(images/loading.gif) center no-repeat;
  z-index: 999;
}
/* end：飞行动画定义*/

/* begin: input transform */
label {
  display: inline-block;
  margin-bottom: auto;
}

.lab-checked {
  color: #ff6600;
}

.lab-disabled {
  cursor: text;
  color: #333;
}

  .lab-disabled.lab-checked {
    cursor: text;
    color: #D7362E;
  }

input[type="radio"], input[type="checkbox"] {
  margin: 2px 0 0;
  *margin-top: 0;
  /* IE7 */
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}

.checkbox, .radio {
  line-height: 25px\0; /* IE8支持*/
  margin-right: 15px;
  padding-left: 0;
  line-height: 20px;
}

  .checkbox input[type="checkbox"], .radio input[type="radio"] {
    margin-left: 0;
    margin-right: 5px;
  }

  .checkbox i, .radio i {
    margin-top: 3px;
  }

.caret {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.btn:hover .caret, .dropdown:hover .caret, .open.btn-group .caret, .open .caret, .nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

[class^="tran-"], [class*=" tran-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("images/input-transform.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 2px;
}

[class^="tran-sfa-"], [class*=" tran-sfa-"] {
  background-image: url("images/input-transform.png");
}

.tran-sfa-checkbox {
  background-position: 0 -14px;
  margin-right: 4px;
}

  .tran-sfa-checkbox.hover, .tran-sfa-checkbox:hover {
    background-position: -14px -14px;
  }

  .tran-sfa-checkbox:active, .tran-sfa-checkbox:focus, .tran-sfa-checkbox.active, .tran-sfa-checkbox.focus {
    background-position: -28px -14px;
  }

  .tran-sfa-checkbox.checked {
    background-position: -42px -14px;
  }

    .tran-sfa-checkbox.checked.hover, .tran-sfa-checkbox.checked:hover {
      background-position: -56px -14px;
    }

    .tran-sfa-checkbox.checked:active, .tran-sfa-checkbox.checked:focus, .tran-sfa-checkbox.checked.active, .tran-sfa-checkbox.checked.focus {
      background-position: -70px -14px;
    }

  .tran-sfa-checkbox.disabled, .tran-sfa-checkbox.readonly {
    background-position: -84px -14px;
  }

  .tran-sfa-checkbox.checked.disabled, .tran-sfa-checkbox.checked.readonly {
    background-position: -98px -14px;
  }

.tran-sfa-radio {
  background-position: 0 0;
  margin-right: 3px;
}

  .tran-sfa-radio.hover, .tran-sfa-radio:hover {
    background-position: -14px 0;
  }

  .tran-sfa-radio:active, .tran-sfa-radio:focus, .tran-sfa-radio.active, .tran-sfa-radio.focus {
    background-position: -14px 0;
  }

  .tran-sfa-radio.checked {
    background-position: -42px 0;
  }

    .tran-sfa-radio.checked.hover, .tran-sfa-radio.checked:hover {
      background-position: -56px 0;
    }

    .tran-sfa-radio.checked:active, .tran-sfa-radio.checked:focus, .tran-sfa-radio.checked.active, .tran-sfa-radio.checked.focus {
      background-position: -70px 0;
    }

  .tran-sfa-radio.disabled, .tran-sfa-radio.readonly {
    background-position: -84px 0;
  }

  .tran-sfa-radio.checked.disabled, .tran-sfa-radio.checked.readonly {
    background-position: -98px 0;
  }
/* end: input transform */
/* Used for the Switch effect:*/
.switch-enable {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}

.switch-disable {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

  .switch-enable, .switch-disable, .switch-enable span, .switch-disable span {
    display: block;
    float: left;
    background: url(images/switch-box.gif) repeat-x;
    font-size: 12px;
  }

    .switch-enable span, .switch-disable span {
      line-height: 26px;
      display: block;
      background-repeat: no-repeat;
      font-weight: bold;
      color: #333;
    }

    .switch-enable span {
      background-position: left -78px;
      padding: 0 10px;
    }

    .switch-disable span {
      background-position: right -156px;
      padding: 0 10px;
    }

    .switch-disable.selected {
      background-position: 0 -26px;
    }

      .switch-disable.selected span {
        background-position: right -182px;
        color: #fff;
      }

    .switch-enable.selected {
      background-position: 0 -52px;
    }

      .switch-enable.selected span {
        background-position: left -130px;
        color: #fff;
      }

.switch-box label {
  cursor: pointer;
}
/* 多选开关 */
.switch-left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}

.switch-right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

  .switch-left, .switch-center, .switch-right, .switch-left span, .switch-center span, .switch-right span {
    display: block;
    float: left;
    background: url(images/switch-box.gif) repeat-x;
    font-size: 12px;
  }

    .switch-left span, .switch-center span, .switch-right span {
      line-height: 26px;
      display: block;
      background-repeat: no-repeat;
      font-weight: bold;
      color: #333;
    }

    .switch-left span {
      background-position: left -78px;
      padding: 0 10px;
    }

    .switch-center span {
      border-left: 1px solid #DADADA;
      padding: 0 10px;
    }

    .switch-right span {
      border-left: 1px solid #DADADA;
      background-position: right -156px;
      padding: 0 10px;
    }

    .switch-left.selected {
      background-position: 0 -52px;
    }

      .switch-left.selected span {
        background-position: left -130px;
        color: #fff;
      }

    .switch-center.selected {
      background-position: 0 -26px;
    }

      .switch-center.selected span {
        background-position: 0 -26px;
        color: #fff;
      }

    .switch-right.selected {
      background-position: 0 -26px;
    }

      .switch-right.selected span {
        background-position: right -182px;
        color: #fff;
      }

.switch-box-multi label {
  cursor: pointer;
}


/* 浮出层常用写法 */
.poptip {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 10px 5px;
  *padding: 7px 10px 4px;
  line-height: 16px;
  color: #DB7C22;
  font-size: 12px;
  background-color: #FFFCEF;
  border: solid 1px #FFBB76;
  border-radius: 2px;
  box-shadow: 0 0 3px #ddd;
}

.poptip-arrow {
  position: absolute;
  overflow: hidden;
  font-style: normal;
  font-family: simsun;
  font-size: 12px;
  text-shadow: 0 0 2px #ccc;
}

  .poptip-arrow em, .poptip-arrow i {
    position: absolute;
    left: 0;
    top: 0;
    font-style: normal;
  }

  .poptip-arrow em {
    color: #FFBB76;
  }

  .poptip-arrow i {
    color: #FFFCEF;
    text-shadow: none;
  }

.poptip-arrow-top, .poptip-arrow-bottom {
  height: 6px;
  width: 12px;
  left: 12px;
  margin-left: -6px;
}

.poptip-arrow-left, .poptip-arrow-right {
  height: 12px;
  width: 6px;
  top: 12px;
  margin-top: -6px;
}

.poptip-arrow-top {
  top: -6px;
}

  .poptip-arrow-top em {
    top: -1px;
  }

  .poptip-arrow-top i {
    top: 0px;
  }

.poptip-arrow-bottom {
  bottom: -6px;
}

  .poptip-arrow-bottom em {
    top: -8px;
  }

  .poptip-arrow-bottom i {
    top: -9px;
  }

.poptip-arrow-left {
  left: -6px;
}

  .poptip-arrow-left em {
    left: 1px;
  }

  .poptip-arrow-left i {
    left: 2px;
  }

.poptip-arrow-right {
  right: -6px;
}

  .poptip-arrow-right em {
    left: -6px;
  }

  .poptip-arrow-right i {
    left: -7px;
  }
