a.l-btn {
  background-position: right 0;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  height: 24px;
  padding-right: 16px;
  cursor: pointer;
  outline: none;
}
a.l-btn-plain {
  border: 0;
  padding: 0px 5px 1px 1px;
  margin-right:3px;
}
a.l-btn-disabled {
  color: #ccc;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
a.l-btn span.l-btn-left {
  display: inline-block;
  background-position: 0 -68px;
  padding: 4px 0px 4px 18px;
  line-height: 16px;
  height: 16px;
}
a.l-btn-plain span.l-btn-left {
  padding-left: 5px;
}
a.l-btn span span.l-btn-text {
  display: inline-block;
  vertical-align: baseline;
  width: auto;
  height: 16px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  outline:none;
}
span.l-btn-text {
	white-space: nowrap;
}
a.l-btn span span.l-btn-icon-left {
  padding: 0 0 0 20px;
  background-position: left center;
}
a.l-btn span span.l-btn-icon-right {
  padding: 0 20px 0 0;
  background-position: right center;
}
a.l-btn span span span.l-btn-empty {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 16px;
}
a:hover.l-btn {
  background-position: right -33px;
  outline: none;
  text-decoration: none;
}
a:hover.l-btn span.l-btn-left {
  background-position: 0 bottom;
}
a:hover.l-btn-plain {
  padding: 0px 5px 1px 1px;
}
a:hover.l-btn-disabled {
  background-position: right 0;
}
a:hover.l-btn-disabled span.l-btn-left {
  background-position: 0 -68px;
}
a.l-btn .l-btn-focus {
  outline: #0000FF dotted thin;
}
a.l-btn {
  color: #444;
  background-image: url('images/linkbutton_bg.png');
  background-repeat: no-repeat;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  /*border-radius: 5px 5px 5px 5px;*/
}
a.l-btn span.l-btn-left {
  background-image: url('images/linkbutton_bg.png');
  background-repeat: no-repeat;
}
.datagrid-pager a.l-btn-plain,
.datagrid-pager a.l-btn-plain span.l-btn-left {
  background: transparent;
  border: 0;
  filter: none;
}

/*a:hover.l-btn-plain {
  background: #eaf2ff;
  color: #000000;
  border: 1px solid #b7d2ff;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}*/
a.l-btn-disabled,
a:hover.l-btn-disabled {
  filter: alpha(opacity=50);
}
.l-btn-wrap {
  position:relative;
  display:inline-block;
}
.l-btn-disable-mask {
  filter: alpha(opacity=20);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  background: #FFFFFF;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
