.comfirTxt{
	float:left;
	margin-left:5px;
	margin-top:3px;
	font-size: smaller;
}
.hideInput{
  display: none;
  height:40px !important;
  line-height:40px !important;
  background-color: #e7f4ff;
  border:#5aa0d8 1px solid;
  -moz-box-shadow: 1px 1px 4px #dbdbdb;
  -webkit-box-shadow: 1px 1px 4px #dbdbdb;
  box-shadow: 1px 1px 4px #dbdbdb;
  -ms-filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#dbdbdb');
 }
 
 .rightValue{
 	float:right;
 	background: url("images/psw-icon-bg.png") no-repeat ;
 	background-position: 0px 0px;
 }
 
  .errValue{
 	float:right;
 	background: url("images/psw-icon-bg.png") no-repeat ;
 	background-position: 0px -21px;
 }
