
.message_box #msg-header{
	margin-bottom:10px;
	display:block;
	padding-left:0px;
	width:100%;
}
.message_box{
	padding-left:0px;
	width:100%;
}
.message_box #msg-header span{
	margin-right:20px;
}
.message_box .msg_category_title{
	background-color:#edf4fc;
	height:23px;
	line-height:23px;
	padding-left:10px;
	padding-right:10px;
	
	font-weight:bold;
}
.message_box body{
	width:100%;
	margin: 0 auto;
	overflow-x:hidden;
	height:auto;
}

.message_box .msg_category_title img{
	float:right;
	margin-top:5px;
}
.message_box .msg_time{
	margin-left:18px
}
.message_box .msg_category_list li{
	list-style: none;
	height:auto;
	margin-bottom:10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.message_box .msg_category_list{
	margin:0;
	padding:20px;
	overflow:auto
}
.message_box .msg_category{
	border: 1px solid #8DB2E3;
	margin-bottom:10px;
}
.message_box a{
	text-decoration: none;
	color: #006699;
	outline:none;
}
.message_box img{
	margin-right:4px;
}
.message_box .msg_content{
	display:none;
	border:1px solid #E1E4E5;
	padding:0 20px;
	background:#FBFBFB;
}
.message_box .msg_read{
	color:black;
	font-weight:bold;
}
.message_box .msg_readed{
	color:black;
	font-weight:normal;
}
.message_box .msg_content a {
	margin-left:20px;
}

.message_box .msg_content a:hover {
    color:#36e6ee;
    text-decoration:none;
}
.message_box .msg_content a:visited {
    color:red;
    text-decoration:none;
}


