.sibar-side {
	position: fixed;
	border: 1px solid #cbe8fd;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
	height: 100%;
	margin-top:9px
/*	background: url(images/kui_transparent_70.png);*/
}

.sibar-side-title {
	color: #000;
	border-bottom: 1px dotted #e9e9e9;
	line-height: 30px;
	margin: 0 11px;
	padding-left: 20px;
	font-family: '微软雅黑';
	font-size: 13px;
	font-weight:bold;
	width: 400px;
	/*background: url(images/sibar_side.png) no-repeat -50px -26px;*/
}

.sibar-side-hide {
	float: left;
	width: 16px;
	height: 16px;
	margin: -24px 0 0 12px;
	cursor: pointer;
	background: url(images/tabs_icons.png) no-repeat -16px 0;
}

.side-hide {
	background-position: 0 0;
}

.sibar-side ul {
	padding: 0;
	margin: 10px 0 0 13px;
	background: url(images/sibar_line.png) repeat-y 7px 0;
}

.sibar-side li {
	list-style: none;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	font-size: 13px;
	font-family: 微软雅黑;
	color: #000000;
}

.sibar-side-content {
	height: 33px;
	margin: 0 20px;
	padding: 0 0 0 10px;
	background-color:#e3f3ff;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.sibar-side-left {
	float: left;
	width: 16px;
	height: 16px;
	margin: 11px 0 0 0;
	background: url(images/sibar_side.png) no-repeat;
}

.sibar-side-right {
	float: right;
	width: 16px;
	height: 16px;
	margin: 11px 6px 0 0;
	background: url(images/sibar_side.png) no-repeat 20px 20px;
}
/*起点的li标签*/
li.sibar-side-start {
	height: 20px;
	line-height: 20px;
	cursor: auto;
}

li.sibar-side-start .sibar-side-left {
	background-position: 0 0;
	margin: -3px 0 0 0;
}
/*终点的li标签*/
li.sibar-side-end {
	height: 20px;
	line-height: 20px;
	cursor: auto;
}

li.sibar-side-end .sibar-side-left {
	background-position: 0 0;
	margin: 10px 0 0 0;
}
/*一级li标签及其以下的元素*/
li.sibar-side-level1 .sibar-side-left {
	background-position: -47px 0;
}
/*二级li标签及其以下的元素*/
li.sibar-side-level2 {
	height: 25px;
	line-height: 25px;
}

li.sibar-side-level2 .sibar-side-content {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid transparent;
	padding: 0 0 0 45px;
	font-size: 13px;
}

li.sibar-side-level2 .sibar-side-left {
	height: 16px;
	background-position: 20px 20px;
	margin: 5px 0 0 0;
}

li.sibar-side-level2 .sibar-side-right {
	height: 16px;
	margin: 5px 6px 0 0;
}
/*增加right的li标签及其下级子元素*/
li.right .sibar-side-content {
	color: #000000;
	background-color:#e3f3ff;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

li.right .sibar-side-left {
	background-position: -15px 0;
}

li.right .sibar-side-right {
	background-position: -98px 0;
}
/*增加wrong的li标签及其下级子元素*/
li.wrong .sibar-side-content {
	color: #dc0000;
	background-color:#e3f3ff;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

li.wrong .sibar-side-left {
	background-position: -31px 0;
}

/*增加hover的li标签及其下级子元素*/
li.hover .sibar-side-content {
	color: #ffffff;
	background: #FFFBEE;
	background: -webkit-linear-gradient(left,#1a6fc2 0,#369bd5 100%);
    background: -moz-linear-gradient(left,#1a6fc2 0,#369bd5 100%);
    background: -o-linear-gradient(left,#1a6fc2 0,#369bd5 100%);
    background: linear-gradient(to right,#1a6fc2 0,#369bd5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a6fc2,endColorstr=#369bd5,GradientType=1);
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

li.hover .sibar-side-left {
	background-position: -68px 0;
}

li.hover .sibar-side-right {
	background-position: -114px 0;
}

.kui-sibar {
	/*background: url(images/kui_transparent_85.png);*/
	padding: 0;
}

/*对panel的CSS样式进行修改*/
.kui-sibar>.panel {
	border: 1px solid #ffffff;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
	margin: 9px 0;
}

.kui-sibar>.panel>.panel-header {
	border-bottom:#def1ff 1px solid;
}

.kui-sibar>.panel>.panel-body {
	border:0;
	/*-moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
	border-top: none;*/
}
/*被选中时panel的CSS样式进行修改*/
.kui-sibar>.sibar-content-hover {
	border-color: #c8e8ff;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.kui-sibar>.sibar-content-hover>.panel-header {
	background-color:#e9f6ff;
}

.kui-sibar>.sibar-content-hover>.panel-header .panel-title{
	color: #000000;
}

.kui-sibar>.sibar-content-hover>.panel-body {
}
/*二级菜单下的panel的样式*/
.kui-sibar .detail-tip {
	font-family: '宋体', simsun;
	font-size: 1em;
	color: #5099e2;
	margin: 8px 20px 0 20px;
	text-transform: none;
	border-bottom: 1px dotted #CCC;
}

.kui-sibar .detail-tip span {
	cursor: pointer;
}

.kui-sibar .detail-tip .detail-icon {
	background: url('images/line_tag1.gif') no-repeat center center;
	width: 16px;
	height: 16px;
	line-height: 16px;
	z-index: 2;
	margin-right: 5px;
}

.kui-sibar .detail-tip .detail-shrink {
	width: 16px;
	height: 12px;
	float: right;
	background: url(images/sibar_side.png) no-repeat 0 -16px;
}

.kui-sibar .detail-tip .detail-shrinked {
	background-position: -16px -16px;
}
/*一级菜单下的“展开更多”的样式*/
.sibar-toggle {
	position: absolute;
	width: 40px;
	right: 0px;
	cursor: pointer;
	color: #333;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #C2C2C2;
/*	background: url(images/kui_transparent_50.png);*/
	z-index: 10;
}

.sibar-content-hover .sibar-toggle {
	border-color: #FFF;
}

.sibar-toggle span {
	width: 16px;
	height: 12px;
	float: right;
	background: url(images/sibar_side.png) no-repeat -16px -16px;
}

.hover span {
/*	background: url(images/sibar_side.png) no-repeat 0 -16px;*/
}
