<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Full Layout - KINGDOM UI Demo</title>
  <link rel="stylesheet" type="text/css" href="../../kui-base/themes/icon.css">
  <script type="text/javascript" src="../../kui-base/js/core/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../kui-base/js/core/kui.loader.js"></script>
</head>
<body class="kui-layout">
	<div kui-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">north region</div>
	<div kui-options="region:'west',split:true,title:'West'" style="width:150px;padding:10px;">west content</div>
	<div kui-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
	<div kui-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>
	<div kui-options="region:'center',title:'Center'"></div>
</body>
</html>