.form-label{
	padding-left:5px;
	text-align:right;
	height: 19px;
}
.form-box{
	padding: 6px 12px 6px 0;
}
.dialog-content .form-box{
	margin:0 auto;
}
.form-box .form-group-inline{
	display:inline-block;
	line-height: 19px;
	padding:4px 0;
}
.form-box .form-group-inline{
	*display:inline;
}
.form-box .form-label{
	display:inline-block;
	text-align: right;
}

.form-buttons{
	margin-top:20px;
	text-align:center;
}
.form-buttons a.l-btn{
	margin-left:10px;
}
.form-input{
  width:122px;
  width:120px\9;
  resize:none;
}
.form-input-disabled{
	border:1px solid #d5d5d5 !important;
	background:none !important;
	color:#949494 !important;
}