
.hideInput{
  display: none;
  background-color: #fefefe;
  background: -webkit-linear-gradient(top,#ffffff 0,#f3f3f3 100%);
  background: -moz-linear-gradient(top,#ffffff 0,#f3f3f3 100%);
  background: -o-linear-gradient(top,#ffffff 0,#f3f3f3 100%);
  background: linear-gradient(to bottom,#ffffff 0,#f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f3f3f3,GradientType=0);
  border:#d7d7d7 1px solid;
  -moz-box-shadow: 1px 1px 4px #dbdbdb;
  -webkit-box-shadow: 1px 1px 4px #dbdbdb;
  box-shadow: 1px 1px 4px #dbdbdb;
  -ms-filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#dbdbdb');
 }
 
 .rightValue{
 	float:right;
 	background: url("images/psw-icon-bg.png") no-repeat ;
 	background-position: 0px 0px;
 }
 
  .errValue{
 	float:right;
 	background: url("images/psw-icon-bg.png") no-repeat ;
 	background-position: 0px -21px;
 }
