<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>KJDP3.5 Web Application</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/conf/frame-spring.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>configLoader</param-name>
		<param-value>
			/WEB-INF/conf/frame-spring.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>com.szkingdom.frame.web.filter.SessionFilter</filter-class>
        <init-param>
            <param-name>direct-control</param-name>
            <param-value>
                (/kjdp_session|/kjdp_login|/kjdp_upload|/kjdp_logout|/kjdp_validate|/kjdp_unlock|/kjdp_browser
                |/kjdp_encrypkey|/kjdp_qryConfig|/*.tif|/*.css|/*.png|/*.gif|/*.jpg|/*.js|/*.ico|/*.html|/*.zip
                |/*.exe|test.html|/SoapService)
            </param-value>
        </init-param>
        <init-param>
            <param-name>login-control</param-name>
            <param-value>(login)</param-value>
        </init-param>
        <init-param>
            <param-name>limit-user</param-name>
            <param-value>0</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<!-- servlet for cxf -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>frame</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/config/spring/frame-web.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_ajax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_cache</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_import</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_export</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_validate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_session</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_unlock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_userInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frame</servlet-name>
		<url-pattern>/kjdp_logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>frame</servlet-name>
        <url-pattern>/kjdp_encrypkey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frame</servlet-name>
        <url-pattern>/kjdp_modeler</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>frame</servlet-name>
        <url-pattern>/kjdp_gateway</url-pattern>
    </servlet-mapping>
    	<servlet-mapping>
        <servlet-name>frame</servlet-name>
        <url-pattern>/kjdp_browser</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>kjdp.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/frame/page/404.html</location>
	</error-page>

    <error-page>
        <error-code>503</error-code>
        <location>/frame/page/503.html</location>
    </error-page>

	<servlet>
		<servlet-name>queryConfig</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/conf/frame-web.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>queryConfig</servlet-name>
		<url-pattern>/kjdp_qryConfig</url-pattern>
	</servlet-mapping>
</web-app>
