body{
  font-family:"微软雅黑", arial, sans-serif;
}
.panel {
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  /*padding:5px;*/
  padding:0px;
}
.panel-body {
  border-width: 0px;
}
.panel-header {
  margin-bottom:2px;
  padding: 4px;
  position: relative;
  border-bottom:2px solid;
}
.panel-title {
  background: url('images/panel-title-line-bg.png') no-repeat left center;
  font-weight: bold;
  color: #161616;
  height: 21px;
  line-height: 21px; 
  padding-left:12px;
}
.panel-header-noborder {
  border-width: 0px;
}
.panel-body {
  overflow: auto;
  border-top-width: 0px;
}
.panel-body-noheader {
  border-top-width: 0px;
}
.panel-body-noborder {
  border-width: 0px;
}
.panel-with-icon {
  padding-left: 18px;
}
.panel-icon,
.panel-tool {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  overflow: hidden;
}
.panel-icon {
  left: 5px;
  width: 16px;
}
.panel-tool {
  right: 5px;
  width: auto;
}
.panel-tool a {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  margin: 0 0 0 2px;
  vertical-align: top;
}
.panel-tool a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #eaf2ff;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.panel-loading {
  padding: 11px 0px 10px 30px;
}
.panel-noscroll {
  overflow: hidden;
/*  padding:15px;*/
}
.panel-fit,
.panel-fit body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.panel-loading {
  background: url('images/loading.gif') no-repeat 10px 10px;
}
.panel-tool-close {
  background: url('images/panel_tools.png') no-repeat -16px 0px;
}
.panel-tool-min {
  background: url('images/panel_tools.png') no-repeat 0px 0px;
}
.panel-tool-max {
  background: url('images/panel_tools.png') no-repeat 0px -16px;
}
.panel-tool-restore {
  background: url('images/panel_tools.png') no-repeat -16px -16px;
}
.panel-tool-collapse {
  background: url('images/panel_tools.png') no-repeat -32px 0;
}
.panel-tool-editHref {
  background: url('images/pencil_edit.png') no-repeat;
}
.panel-tool-expand {
  background: url('images/panel_tools.png') no-repeat -32px -16px;
}
.panel-header,
.panel-body {
  border-color: #ededed;
  /*border-color: #FFFFFF;*/
}
/*.panel-header {
  background-color: #ffffff;
}*/
.panel-body {
  /*background:transparent url('images/ui-panel-background.png');
  background: -webkit-linear-gradient(top,#ffffff 0,#f8fcfe 100%);
  background: -moz-linear-gradient(top,#ffffff 0,#f8fcfe 100%);
  background: -o-linear-gradient(top,#ffffff 0,#f8fcfe 100%);
  background: linear-gradient(to bottom,#ffffff 0,#f8fcfe 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f8fcfe,GradientType=0);*/
  color: #000000;
}