html{overflow-y: hidden;}
body,div,ul {margin:0;padding:0;}
ul{list-style-type:none;}
body{
	font-family:'宋体',sans-serif;
	font-size:12px;
}
.ui-frame-background{
	width:100%;
	height:56px;
	background:transparent url('../images/ui-r-frame-background.png') repeat-x;
}
/* 登录界面样式 */
.ui-body-background {
	background: url("../images/wallpaper/1358511608981.jpg") repeat-x;
}
.ui-login-container {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	background: url("../images/login_mid.png") no-repeat center center;
	z-index:101;
	display:none;
}
.ui-login-container .ui-swtich-language {
	font-size: 13px;
	padding-top: 4px;
}
.ui-login-container .input-length {
	width: 150px;
}

.ui-login-container .validate-length {
	width: 75px;
}

.ui-login-container a,.ui-login-container input {
	outline: 0;
}

.ui-login-container input,.ui-login-container img,.ui-login-container label {
	vertical-align: middle;
}
.ui-login-container img {
	margin: 0 0 0 10px;
}
.ui-login-container div.ui-login-panel {
	width: 403px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background: url("../images/login_panel.png") no-repeat center center;
}
.ui-login-container div.ui-login-logo {
	width: 380px;
	height: 44px;
	background: url("../images/login_logo.png") no-repeat;
}
.ui-login-container div.ui-login-input {
	margin: 30px 0 0 35px;
}
.ui-login-container div.ui-login-input td {
	text-align: left;
	padding-left: 8px;
}
.ui-login-container div.ui-login-button {
	margin: 15px 0 0 130px;
}

.ui-login-container div.ui-login-button a {
	cursor: pointer;
	float: left;
	width: 60px;
	height: 26px;
	border: 0;
	margin: 0 20px 0 0px;
	background-image: url('../images/login_button.png');
	background-repeat: no-repeat;
}

.ui-login-container div.ui-login-button a.submit-button {
	background-position: 0 0;
}

.ui-login-container div.ui-login-button a.clear-button {
	background-position: 0 -68px;
}

.ui-login-container div.ui-login-button a.submit-button:hover {
	background-position: 0 -34px;
}
.ui-login-container div.ui-login-button a.clear-button:hover {
	background-position: 0 -102px;
}
.ui-login-shadow {
  z-index:100;
  position: absolute;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.ui-login-shadow {
  background: #ccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
  box-shadow: 2px 2px 3px #cccccc;
  filter:alpha(opacity=80) progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}
/* 主界面头部样式 */
.ui-frame-top{
	background-position:0 0;
}
.ui-frame-logo{
	width:400px;
	height:47px;
	float:left;
}
.ui-frame-logo-img{
	margin:0px 2px 0px 10px;
	width:47px;
	height:47px;
	background:transparent url('../images/ui-frame-logo.png') no-repeat;
	float:left;
}
.ui-frame-title-ch{
	font-family:"微软雅黑",sans-serif;
	font-size:18px;
	letter-spacing:2px;
	font-weight:600;	
	line-height:47px;
	float:left;
	filter:Alpha(Opacity="90");
	color:#000000;
}

.ui-frame-title-split{
	font-size:20px;
	font-weight:600;
	margin:16px 10px 0px 5px;
	color:#5d5d5d;
	font-style:italic;
	float:left;
}

.ui-frame-title-en{
	font-family:"Arial",sans-serif;
	font-size:15px;
	font-weight:normal;
	font-style:italic;
	margin-top:18px;
	color:#5d5d5d;
	float:left;
}

.ui-frame-tools{
	width:480px;
	height:47px;
	margin-right:10px;
	float:right;
}
.ui-frame-tools-ico{
	background:transparent url('../images/ui-r-frame-tools.png') no-repeat;
	height:47px;	
	line-height:47px;
	float:left;
	text-indent:2em;
	cursor:pointer;
	color:#333333;
}
.ui-frame-homepage{
	width:90px;
	text-indent:2.2em;
}
.ui-frame-user{
	width:53px;
	margin-right:4px;
	background-position:10px -47px;
	border-left:#f8eaea 1px solid;border-right:#f8eaea 1px solid;
	background-color:#fbf3f3;
}
.ui-frame-help{
	width:55px;
	background-position:0 -94px;
	
}
.ui-frame-message{
	width:55px;
	background-position:0 -141px;
}
.ui-frame-style{
	width:55px;
	background-position:0 -188px;
}
.ui-frame-setting{
	width:55px;
	background-position:0 -235px;
}
.ui-frame-lock{
	width:55px;
	background-position:0 -282px;
}
.ui-frame-exit{
	width:55px;
	background-position:0 -329px;
}
/* 主界面菜单样式 */
.ui-frame-top{
	background-position:0 0;
	height:37px;
}
.ui-frame-logo{
	width:400px;
	height:37px;
	float:left;
}
.ui-frame-logo-img{
	margin:1px 0px 0px 10px;
	width:45px;
	height:37px;
	background:transparent url('../images/ui-frame-logo.png') no-repeat;
	float:left;
}
.ui-frame-title-ch{
	font-family:"微软雅黑",sans-serif;
	font-size:17px;
	letter-spacing:1px;
	font-weight:600;	
	line-height:37px;
	float:left;
	filter:Alpha(Opacity="90");
	color:#000000;
}

.ui-frame-title-split{
	font-size:20px;
	font-weight:600;
	margin:11px 10px 0px 5px;
	color:#5d5d5d;
	font-style:italic;
	float:left;
}

.ui-frame-title-en{
	font-family:"Arial",sans-serif;
	font-size:15px;
	font-weight:normal;
	font-style:italic;
	margin-top:12px;
	color:#5d5d5d;
	float:left;
}

.ui-frame-tools{
	width:455px;
	height:37px;
	margin-right:10px;
	float:right;
}
.ui-frame-tools-ico{
	background:transparent url('../images/ui-r-frame-tools.png') no-repeat;
	height:37px;	
	line-height:37px;
	float:left;
	text-indent:2em;
	cursor:pointer;
	color:#333333;
}
.ui-frame-homepage{
	width:81px;
	text-indent:2.2em;
	background-position:0px -4px;
	padding-top:1px;
}
.ui-frame-user{
	width:45px;
	margin-right:4px;
	background-position:8px -50px;
	border-left:#ececec 1px solid;border-right:#ececec 1px solid;
	background-color:#f3f3f3;
}
.ui-frame-help{
	width:53px;
	background-position:0 -98px;
	
}
.ui-frame-message{
	width:53px;
	background-position:0 -145px;
}
.ui-frame-style{
	width:53px;
	background-position:0 -192px;
}
.ui-frame-setting{
	width:53px;
	background-position:0 -239px;
}
.ui-frame-lock{
	width:53px;
	background-position:0 -286px;
}
.ui-frame-exit{
	width:53px;
	background-position:0 -332px;
}
/* 主界面菜单样式 */
.ui-frame-menu{
	background-position:0 -37px;
}
.ui-frame-menu-node{
	width:98px;
	height:56px;	
	color:#ffffff;
	line-height:35px;
	font-size:13px;
	font-family:'微软雅黑';
	text-align:center;
	cursor:pointer;
	float:left;
}
.ui-frame-menu-container{
	height:56px;	
	overflow:hidden;
	float:left;
	position:absolute;
	margin-left:15px;
}
.ui-frame-menu-container ul{
	height:56px;
	position:relative;
	width:1800px;
}
.ui-frame-menu-node div{
	float:left;
}
.ui-frame-menu-selected div{
	background:transparent url('../images/ui-r-frame-background.png') repeat-x;
	color:#000000;
	font-weight:bold;
}
.ui-frame-menu-selected div.ui-frame-menu-left{
	width:4px;
	height:54px;
	background-position:-8px -127px;
	margin-top:2px;
}
.ui-frame-menu-selected div.ui-frame-menu-right{
	width:4px;
	height:54px;
	background-position:-8px -235px;	
	margin-top:2px;
}
.ui-frame-menu-center{
	width:82px;
	height:54px;
	margin-top:3px;

}
.ui-frame-menu-selected div.ui-frame-menu-center{
	width:82px;
	height:54px;
	background-position:0 -181px;
	margin-top:2px;
	margin-left:0px;
}
.ui-frame-menu-selected .ui-frame-menu-split,.ui-frame-menu-split{
	background:transparent url('../images/ui-r-frame-background.png') no-repeat;
	width:6px;
	height:56px;
	background-position:right -371px;
	float:left;
}
.ui-frame-menu-ico{
	background:transparent url('../images/ui-a-frame-menu-icon.png') no-repeat;
	width:34px;
	height:34px;	
	vertical-align:top;
	display: block;
	margin-left:21px;
	margin-bottom:-10px;
}
.ui-frame-menu-next{
	width:15px;
	margin-top:10px;
	margin-right:6px;
	float:right;
	background-position:0 -105px;
	cursor:pointer;
}
.ui-frame-menu-prev{
	width:15px;
	margin-top:10px;
	float:left;
	position:absolute;
	background-position:-35px -105px;
	cursor:pointer;
	z-index:1;
	margin-left:5px;
}
.menu-ico-1{
	background-position:0 0;
}
.menu-ico-2{
	background-position:-35px 0;
}
.menu-ico-3{
	background-position:-70px 0;
}
.menu-ico-4{
	background-position:-105px 0;
}
.menu-ico-5{
	background-position:-140px 0;
}
.menu-ico-6{
	background-position:-175px 0;
}
.menu-ico-7{
	background-position:0 -35px;
}
.menu-ico-8{
	background-position:-35px -35px;
}
.menu-ico-9{


	background-position:-70px -35px;
}
.menu-ico-10{
	background-position:-105px -35px;
}
.menu-ico-11{
	background-position:-140px -35px;
}
.menu-ico-12{
	background-position:-175px -35px;
}
.menu-ico-13{
	background-position:0 -70px;
}
.menu-ico-14{
	background-position:-35px -70px;
}
.menu-ico-15{
	background-position:-70px -70px;
}
.ui-frame-sub-menu ul{
	margin-left:20px;
}
.ui-frame-submenu-node{
	float:left;
	padding:0px 5px 0px 5px;
	display:none;
	height:34px;
	line-height:34px;
	text-align:center;	color:#000000;
}
.ui-frame-submenu{
    white-space:nowrap;
	float:left;
	cursor:pointer;

	letter-spacing:1px;
}
.ui-frame-submenu-selected{
	font-weight:bolder;
	color:#dc0a05;
}
.ui-frame-submenu-other{
    background: url('../images/spinner_arrows.png') no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    background-position: 0 0;
    float: left;
    cursor: pointer;
}
.ui-frame-submenu-selected .ui-frame-submenu-other{
    background-position: -17px 0;
}
.ui-frame-submenu-split{
	background:transparent url('../images/ui-r-frame-background.png') no-repeat;
	width:7px;
	height:27px;
	margin-top:3px;
	margin-left:3px;
	background-position:right -427px;
	float:left;
}

.ui-frame-search{
	width:171px;
	height:47px;
	float:right;
}
.ui-frame-search-left{
	background-position:0 -289px;
	width:12px;	
	height:27px;
	float:left;
	margin-top:14px;
	margin-bottom:8px;
}
.ui-frame-search-center{
	background-position:0 -316px;
	width:128px;	
	height:27px;
	float:left;
	margin-top:14px;
	margin-bottom:8px;
}
.ui-frame-search-center input{
	width:101px;	
	height:27px;
	float:left;
	border:0px;
	line-height:25px;
	color:#000000;
	background:transparent;
}
.ui-frame-search-right{
	background-position:0 -344px;
	width:12px;	
	height:27px;
	float:left;
	margin-top:14px;
	margin-bottom:6px;
}
.ui-frame-ico-search{
	margin-top:3px;
	width:25px;
	height:25px;
	background-position:0 -395px;
	float:left;
	position:relative;
	left:10px;
}
.ui-frame-sub-menu{
	height:34px;
	background-position:0 -93px;
}
.ui-frame-switch{
	width:130px;
	height:25px;
	margin-right:8px;	
	margin-top:3px;
	cursor:pointer;
	float:right;
}
.ui-frame-switch-left{
	background-position:0 -457px;
	width:12px;	
	height:25px;
	float:left;
}
.ui-frame-switch-center{
	background-position:0 -507px;
	width:106px;	
	height:25px;
	float:left;	
}
.ui-frame-switch-right{
	background-position:0 -482px;
	width:12px;	
	height:25px;
	float:left;
}

.ui-frame-switch-text{
	line-height:25px;
	color:#393939;
	float:left;
}
.ui-frame-icons{
	background:transparent url('../images/ui-frame-icons.png') no-repeat;
	width:20px;
	height:20px;
	float:right;
	cursor:pointer;
}

.icons-collapse{
	margin-top:8px;
	margin-right:5px;
	background-position:-42px -101px;
}
.icons-expand{
	margin-top:8px;
	margin-right:5px;
	background-position:-62px -101px;
}

.ui-frame-switch-list-text{
	float:left;
	overflow:hidden;
	width:100px;
	height:20px;
	white-space:nowrap;
}
.ui-frame-switch-close{
	background-position:0 -20px;
	margin-right:5px;
}
.icons-arrow-down{
	margin-top:2px;
}
.icons-arrow-up{
	margin-top:2px;
	background-position:-20px 0;
}
.ui-frame-switch-list{
	position:absolute;
	width:133px;
	height:162px;
	padding-top:8px;
	background:transparent url('../images/ui-r-frame-switch.png') no-repeat;
	overflow-y:auto;
}
.ui-frame-switch-list li{
	height:20px;
	line-height:20px;
	text-align:left;
	text-indent:1em;
	cursor:pointer;
}
.ui-frame-switch-list li.selected{
	font-weight:bold;
	color:#ffffff;
	background-color:#e91d14;
	width:131px;
}


.icons-arrow-right{
	margin-top:2px;
	background-position:-188px 0;
}
.ui-frame-other-menus{
    /*background: -webkit-linear-gradient(top,#f6f9ff 0,#d9e8ff 100%);
    background: -moz-linear-gradient(top,#f6f9ff 0,#d9e8ff 100%);
    background: -o-linear-gradient(top,#f6f9ff 0,#d9e8ff 100%);
    background: linear-gradient(to bottom,#f6f9ff 0,#d9e8ff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f9ff,endColorstr=#d9e8ff,GradientType=0);*/
	background-color:#e8e8e8;
	border-right:1px #afafaf solid;
    overflow:visible;
	float:left;
}
.ui-frame-other-menus ul{
	margin: 2px 0px 0px 0px;
	padding:0;
	cursor:pointer;
}
.ui-frame-othmenu-node,.ui-frame-othmenu-node-alt {
	margin:0;
	padding-top:4px;
	font-size:13px;
	border-bottom:#a6a6a6 1px dotted;
	height:28px;
	padding-left:15px;
	color:#383838;
}
.ui-frame-othmenu-node{
	background-color:#f2f2f2;
	border-top:#ffffff 1px solid;
}
.ui-frame-othmenu-node-alt{
	background-color:#e5e5e5;
	border-top:#f1f1f1 1px solid;
}
.ui-frame-othmenu-node-selected {
	font-weight:bold;
	color:#ffffff;
	border-top:1px #c70000 solid;
	border-bottom:1px #ad0101 solid;
	background: -webkit-linear-gradient(top,#fc1611 0,#cc0500 100%);
    background: -moz-linear-gradient(top,#fc1611 0,#cc0500 100%);
    background: -o-linear-gradient(top,#fc1611 0,#cc0500 100%);
    background: linear-gradient(to bottom,#fc1611 0,#cc0500 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fc1611,endColorstr=#cc0500,GradientType=0);
}
.ui-frame-othmenu{
	margin-top: 5px;
	float:left;
	cursor:pointer;
	overflow: hidden;
	white-space: nowrap;
    width: 155px;
}



.icons-arrow-close {
	background-position:0px -20px;
}

.ui-frame-content{
    float:left;
	width:100%;
	/*background-color:#ffffff;*/
}
.ui-frame-skin-theme{
	border:1px solid #999;
	height:280px;
	overflow-y:auto;
	margin:8px;
	background-color:#fff;
}
.ui-frame-skin-theme-item{
	width:100px;
	height:56px;
	border:2px solid #fff;
	margin:5px;
	cursor:pointer;
	opacity:.6;
	filter:Alpha(Opacity=60);
}
.ui-frame-skin-theme-item:hover{
	opacity:1;
	filter:Alpha(Opacity=100);
}
.ui-frame-skin-theme-item-selected{
	border:3px solid #CF7905;
	opacity:1;
	filter:Alpha(Opacity=100);
}

.ui-inline-block{
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align:middle;
	letter-spacing:normal;
	line-height:normal;
}

div.ui-frame-layout-v div.ui-frame-menu{
	width:200px;
	float:left;
}



div.ui-frame-layout-v div.ui-frame-menu-container{
	margin:5px 5px 5px 5px;
	-moz-border-radius:9px;-khtml-border-radius:9px;-webkit-border-radius:9px;
	border-radius:9px;
	overflow-y:hidden;
	/*background-image:url("../images/ui-frame-blue-background.png");*/
	background-color:#ffebe6;
	overflow-x: hidden;
	overflow-y:auto;
	border:1px #f5c9c3 solid;
}
div.ui-frame-layout-v div.ui-frame-menu-container ul{
	height:auto;
	position:static;
	width:190px;
}
div.ui-frame-layout-v li.ui-frame-menu-node{
	width:190px;
	height:35px;
	color:#262626;
	background-color:#f0f0f0;
	 background: -webkit-linear-gradient(top,#fff7f4 0,#f8e7e7 100%);
  background: -moz-linear-gradient(top,#fff7f4 0,#f8e7e7 100%);
  background: -o-linear-gradient(top,#fff7f4 0,#f8e7e7 100%);
  background: linear-gradient(to bottom,#fff7f4 0,#f8e7e7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff7f4,endColorstr=#f8e7e7,GradientType=0);
	border-bottom:1px #ecb3ae dotted;
}

div.ui-frame-layout-v div.ui-frame-menu-center{
	height:35px;
	width:190px;
	text-align:left;
	margin-top:0px;
	background-image:url('');
}
div.ui-frame-layout-v li.ui-frame-menu-selected{
	
	background-color: #efefef;
	background: -webkit-linear-gradient(top,#ff1b13 0,#c90201 100%);
	background: -moz-linear-gradient(top,#ff1b13 0,#c90201 100%);
    background: -o-linear-gradient(top,#ff1b13 0,#c90201 100%);
    background: linear-gradient(to bottom,#ff1b13 0,#c90201 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1b13,endColorstr=#c90201,GradientType=0);
	border-bottom:#650000 1px dotted;
}
div.ui-frame-layout-v li.ui-frame-menu-selected div.ui-frame-menu-center{
	height:35px;
	width:190px;
	margin-top:0px;
	font-weight:bolder;
	color:#ffffff;

}
div.ui-frame-layout-v span.ui-frame-menu-ico{
	display:inline-block;
	margin-left:13px;
	margin-right:7px;
}	
div.ui-frame-layout-v div.ui-frame-sub-menu{
	height:auto;
	width:190px;
	background-image:url('../images/kui_transparent_60.png');
	background-position:0px 0px;
}
div.ui-frame-layout-v li.ui-frame-submenu-node{
	display:inline;
	text-align:left;
	height:26px;
	line-height:26px;
	width:190px;	margin-left:-30px;
	padding-left:30px;background-color:#fafafa;
	border-bottom:1px #e7e7e7 dotted;
	
}
div.ui-frame-layout-v div.ui-frame-sub-menu ul{
	margin-left:10px;
}
div.ui-frame-layout-v div.ui-frame-submenu{
	width:190px;
	
	font-family:"宋体";
	font-size:12px;
	color:#000000;

}

div.ui-frame-layout-v .ui-frame-v-tab{
	height:25px;
	margin-top:5px;
	line-height:25px;
	float:left;
	cursor:pointer;
	padding:0 3px 0 3px;
	margin-right:3px;
	text-align:center;
	border-top:1px solid #ffd8d6;border-left:1px solid #ffd8d6;border-right:1px solid #ffd8d6;
	-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
	border-bottom-right-radius:0px; border-bottom-left-radius:0px ;
	background:transparent url('../images/ui_frame-tabs_background.png') repeat-x;
	background-position:0 -150px;
	color:#000000;
}
div.ui-frame-layout-v .ui-frame-v-tab-selected{
    background:transparent url('../images/ui_frame-tabs_background.png') repeat-x;
	background-position:0 -175px;
	color:#ffffff;
	font-weight:bolder;
}


/*! TAB页签抽取的样式  */
#pageTabsBox{
	margin-top:3px;
}

#pageTabsBox .tabs-header{
	background-color: transparent;
}

#pageTabsBox .tabs-panels{
  border-color: #8F5700;
  overflow-y:hidden;
}

#pageTabsBox .tabs{
	border: 0;
	padding:0;
}

#pageTabsBox .tabs li{
	margin: 0 2px -1px 0;
}

#pageTabsBox .tabs li a.tabs-inner{
	color:#2e2e2e;
	background: -webkit-linear-gradient(top,#edf6ff 0,#e1efff 100%);
	background: -moz-linear-gradient(top,#edf6ff 0,#e1efff 100%);
	background: -o-linear-gradient(top,#edf6ff 0,#e1efff 100%);
	background: linear-gradient(to bottom,#edf6ff 0,#e1efff 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#edf6ff,endColorstr=#e1efff,GradientType=0);
}

#pageTabsBox .tabs li.tabs-selected a.tabs-inner{
	background-color: #efefef;
	background: -webkit-linear-gradient(top,#bbdfff 0,#81c3fc 100%);
    background: -moz-linear-gradient(top,#bbdfff 0,#81c3fc 100%);
    background: -o-linear-gradient(top,#bbdfff 0,#81c3fc 100%);
    background: linear-gradient(to bottom,#bbdfff 0,#81c3fc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bbdfff,endColorstr=#81c3fc,GradientType=0);
}

#pageTabsBox .tabs-scroller-left{
	background: url("../images/tabs_icons.png") no-repeat scroll 1px center #FFFFFF;
	-moz-opacity:.88;
	opacity:0.88;
	height: 24px !important;
}

#pageTabsBox .tabs-scroller-right{
	background: url("../images/tabs_icons.png") no-repeat scroll -15px center #FFFFFF;
	-moz-opacity:.88;
	opacity:0.88;
	height: 24px !important;
}
/* TAB页签抽取的样式 !*/
