@CHARSET "UTF-8";
/*----begin---ui.front-window.css中界面部分*/
.window {
	background: url("../../frame/images/portal/trans/plugin/window-bg2.png") repeat-x scroll 0 0 transparent !important;
}

.window-trans {
	background: url("../../frame/images/portal/trans/plugin/window-bg.png") repeat-x scroll 0 0 transparent !important;
}

.window .window-header .panel-tool-close {
  background: url("../../frame/images/portal/trans/plugin/window-tools.png") no-repeat scroll -80px 0px transparent !important;
}

.window .window-header .panel-tool-close:hover {
  background: url("../../frame/images/portal/trans/plugin/window-tools.png") no-repeat scroll -80px -19px transparent !important;
}

.main-panel .panel-loading {
  background: url('../../frame/images/portal/trans/portal-loading.gif') no-repeat 50% 49% !important;
}
.panel-tool-close {
  background: url('../../frame/images/portal/trans/plugin/panel_tools.png') no-repeat -16px 0px !important;
}
.panel-tool-min {
  background: url('../../frame/images/portal/trans/plugin/window-tools.png') no-repeat 0px 0px !important;
}
.panel-tool-min:hover {
  background: url('../../frame/images/portal/trans/plugin/window-tools.png') no-repeat 0px -19px !important;
}
.panel-tool-max {
  background: url('../../frame/images/portal/trans/plugin/window-tools.png') no-repeat -28px 0px !important;
}
.panel-tool-max:hover {
  background: url('../../frame/images/portal/trans/plugin/window-tools.png') no-repeat -28px -19px !important;
}
.panel-tool-restore {
  background: url('../../frame/images/portal/trans/plugin/window-tools.png') no-repeat -28px 0px !important;
}
.panel-tool-collapse {
  background: url('../../frame/images/portal/trans/plugin/panel_tools.png') no-repeat -32px 0 !important;
}
.panel-tool-editHref {
  background: url('../../frame/images/portal/trans/plugin/pencil_edit.png') no-repeat !important;
}
.panel-tool-expand {
  background: url('../../frame/images/portal/trans/plugin/panel_tools.png') no-repeat -32px -16px !important;
}
.panel-header {
  background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%) !important;
  background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%) !important;
  background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%) !important;
  background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0) !important;
}
.panel-title {
  background: url('../../frame/images/portal/trans/plugin/blank.gif') no-repeat !important;
}
/*----end---ui.front-window.css中界面部分*/

/*----------------------------------------------------------------*/

/*----begin---front-main.css中界面部分*/
.window-toolbox {
	background: url("../../frame/images/portal/trans/plugin/edit-desktop-bg.png") repeat-x scroll 0 0 transparent !important;
}

.top-bar {
	background: url("../../frame/images/portal/trans/trans-bg-black-25.png") repeat scroll 0 0 transparent;
}

.top-bar-shadow {
	display:none;
}

.switch-box-wrap .switch-box-btn {
	background-image: url("../../frame/images/portal/trans/top-arrow-bg.png");
}

.switch-box-wrap .switch-box .switch-item {
	background-image:url("../../frame/images/portal/trans/top-swich-bg.png");
}

.top-bar .search-box .search-input{
	background: url("../../frame/images/portal/trans/trans-bg-black-10.png");
}

.top-bar .search-box .search-items-panel {
	background: url("../../frame/images/portal/trans/search-bar-list-bg.png");
	color:#FFFFFF;
}
.top-bar .search-box .search-items-panel .search-item:hover {
	background-color:orange;
}
.top-bar .search-box .search-items-panel .search-item-selected {
	background-color:#018ED6 !important;
}
.top-bar .icon-small-div .icon-small {
	background-image:url(../../frame/images/portal/trans/ui-frame-topbar-setbg.png);
}
.top-bar .icon-small-div .icon-small:hover {
	background-image:url(../../frame/images/portal/trans/ui-frame-topbar-setbg-hover.png);
}
.top-bar .line {
   	background: url("../../frame/images/portal/trans/top-splite-line.png") no-repeat scroll 3px 8px transparent;
}

.left-toolbar{
	background:url(../../frame/images/portal/trans/trans-bg-black-10.png);
}
.left-toolbar-padding {
   padding:4px 3px 0 3px;	
}
.left-collapse-box {
	/*background-image:url(../../frame/images/portal/trans/left-tree-switch-bar-bg.png);*/
}

.left-collapse-box .collpase-btn {
	background-image:url(../../frame/images/portal/trans/trans-switch-bar-bg.png);
}
.left-collapse-box .collpase-btn:hover {
	background-image:url(../../frame/images/portal/trans/trans-switch-bar-bg2.png);
}

.left-menu-box .menu-box .menu-box-btn {
	background-image:url(../../frame/images/portal/trans/menu-arrow-bg.png);
}
.left-menu-box .menu-box .menu-box-center .menu-button-selected{
	background: url("../../frame/images/portal/trans/left-menu-selected-bg.png") no-repeat top;
}
.left-menu-box .menu-box .menu-box-center .menu-button-hover{
	background: url("../../frame/images/portal/trans/left-menu-selected-bg.png") no-repeat top;
}
.left-menu-box .prompt-icon {
    background: url("../../frame/images/portal/trans/ui-frame-icon-bg.png") repeat scroll 0 0 transparent;
}
.drag-wrap .prompt-icon {
    background: url("../../frame/images/portal/trans/ui-frame-icon-bg.png") repeat scroll 0 0 transparent;
}
.main-panel-other .layout-wrap{
	background:url(../images/portal/trans/main-panel-bg.png) top center repeat-x #ffffff;
}
.bottom-bar {
	background: url("../../frame/images/portal/trans/ui-frame-bottom-tab-bg.png") repeat-x scroll 0 0 transparent;	
}
.status-bar {
    background: url("../../frame/images/portal/trans/task-bar-bg-trans.png") repeat scroll 0 0 transparent;
}
.status-bar .status-bar-icon {
    background: url("../../frame/images/portal/trans/info2.png") no-repeat scroll 2px 5px transparent;
}
.status-bar .status-bar-content {
    color: #FFFFFF;
}
.status-bar .status-sys-name {
    color: #000000;
}
.status-bar .status-sys-key {
    color: #353535;
}
.status-bar .status-sys-value {
    color: #FFFFFF;
    font-weight: bold;
}
.login-window {
	background: url("../../frame/images/portal/trans/plugin/login-pic-bg.png") no-repeat scroll 0 0 transparent !important;
}
.login-panel .large-div {
	background-image: url("../../frame/images/portal/trans/login-imgs.png");
}
.login-panel .login-div input {
	background: url("../../frame/images/portal/trans/login-imgs.png") repeat-x scroll 0px -133px transparent;
}
.login-panel .login-div input:hover {
	background: url("../../frame/images/portal/trans/login-imgs.png") repeat-x scroll 0px -163px transparent;
}
.task-bar .task-bar-left {
	background: url("../../frame/images/portal/trans/ui-frame-bottom-tab-arrow.png") no-repeat scroll 10px 5px transparent;
}

.task-bar .task-bar-right {
	background: url("../../frame/images/portal/trans/ui-frame-bottom-tab-arrow.png") no-repeat scroll -12px 5px transparent;
}
.task-bar .task-bar-item {
	background-image: url("../../frame/images/portal/trans/ui-frame-bottom-tab-btnbg.png");
	color:#FFFFFF;
}
.task-bar .task-bar-item-selected {
	color:#000000;
}

.task-bar .task-bar-item-hover {
	color:#FFFFFF;
}
.left-menu-box .tree .tree-node{
	border-radius:3px;
	margin-bottom:1px;
}
.left-menu-box .tree .tree-node-hover {
	background-image: url("../images/portal/trans/left-tree-menu-hover-bg.png") !important;
}
.left-menu-box .tree .tree-node-selected {
	background: -webkit-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: -moz-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: -o-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: linear-gradient(to right, #1a6fc2 0, #369bd5 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a6fc2, endColorstr=#369bd5, GradientType=1) !important;
}
.left-menu-box .tree .tree-icon {
	background-image: url("../images/portal/trans/left-menu-point.png");
}
.left-menu-box .tree .tree-node-selected .tree-file {
	background: url("../images/portal/trans/left-menu-point.png") no-repeat scroll -4px 10px transparent;
}
.left-menu-box .tree > li > .tree-node {
	background:url(../images/portal/trans/left-tree-menu-normal-bg.png);
}
.left-menu-box .tree .tree-node {
	background-image: url("../images/portal/trans/left-secmenu-bg.png");
}
.left-menu-box .tree > li > .tree-node-hover {
	background: -webkit-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: -moz-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: -o-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: linear-gradient(to right, #1a6fc2 0, #369bd5 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a6fc2, endColorstr=#369bd5, GradientType=1) !important;
}
.left-menu-box .tree > li > .tree-node-selected {
	background: -webkit-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: -moz-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: -o-linear-gradient(left, #1a6fc2 0, #369bd5 100%) !important;
	background: linear-gradient(to right, #1a6fc2 0, #369bd5 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a6fc2, endColorstr=#369bd5, GradientType=1) !important;
}

.left-menu-box .tree > li > ul {
	background: url("../../frame/images/portal/trans/trans-bg-black-10.png") repeat scroll 0 0 transparent;
}
.menu-dir-win {
	background: url("../../frame/images/portal/trans/plugin/diy-toolbox-bg2.png") repeat-x scroll 0 0 transparent !important;
}
.comp-wrap-cont {
	background: url("../../frame/images/portal/trans/plugin/diy-toolbox-bg.png") repeat-x scroll 0 0 transparent !important;
}
.cont-panel-wrap .menu-icon-dir {
	background:url("../../frame/images/portal/trans/diy-icon-folder.png") no-repeat scroll 25px 5px transparent;
}

.self-plat-switch-wrap {
	background: url("../../frame/images/portal/trans/diy-switch-bg.png") no-repeat scroll 2px 1px transparent;
}
.self-plat-switch-wrap .self-switch-item {
    background: url("../../frame/images/portal/trans/diy-switch-num-bg.png") no-repeat scroll -22px 1px transparent;
}
/*----end---front-main.css中界面部分*/

/*----------------------------------------------------------------*/

/*----begin---front-common.css中界面部分*/
.sync-mask .content{
    background-image: url("../../frame/images/portal/trans/plugin/loading.gif");
}
.comp-wrap {
	background: url("../../frame/images/portal/trans/plugin/window-bg3.png") repeat-x scroll 0 0 transparent;
}

.comp-wrap-no-head {
	background: url("../../frame/images/portal/trans/plugin/window-bg.png") repeat-x scroll 0 -40px transparent;
}

.self-comp-body {
	background:url(../images/portal/trans/main-panel-bg.png) top center repeat-x #ffffff;
}

.comp-body .cont-tab-wrap .cont-tab-item-top {
	background-image: url("../../frame/images/portal/trans/tab-item-bg-tb.png");
}

.comp-body .cont-tab-wrap .cont-tab-item-right {
	background-image: url("../../frame/images/portal/trans/tab-item-bg-lr.png");
}

.comp-body .cont-tab-wrap .cont-tab-item-bottom {
	background-image: url("../../frame/images/portal/trans/tab-item-bg-tb.png");
}

.comp-body .cont-tab-wrap .cont-tab-item-left {
	background-image: url("../../frame/images/portal/trans/tab-item-bg-lr.png");
}

.comp-body .cont-tab-wrap .cont-tab-body {
	/*background: url("../../frame/images/portal/typical/tab-bg-normal.png") repeat scroll 0 0 transparent;*/
	background-color: #FFFFFF;
}
/*----end---front-common.css中界面部分*/